<h1></h1>

<div class="jumbotron">
  <form>
    <div class="form-group row pb-5">
      <label for="name" class="col-sm-2 col-form-label"
        >{{ isEdition ? "Edit " : "Add " }} task</label
      >
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="name"
          [placeholder]="(isEdition ? 'Edit ' : 'Add ') + 'task name'"
          [(ngModel)]="task.name"
          name="name"
        />
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary" (click)="onSubmit(task)">
          {{ isEdition ? "Edit" : "Add" }}
        </button>
      </div>
    </div>
  </form>

  <app-table
    [header]="['Name', '',]"
    [rows]="rows$ | async"
    (action)="executeAction($event)"
  ></app-table>
</div>
