<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Is done</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ row.name }}</td>
      <td>
        <input
          class="form-check-input"
          type="checkbox"
          id="checkboxNoLabel"
          aria-label="..."
          [ngModel]="row.done"
          (change)="sendAction('update-done', row)"
        />
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="sendAction('update', row)"
        >
          Edit</button
        ><button
          type="button"
          class="btn btn-danger"
          (click)="sendAction('delete', row)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
